{% load static %}
<comment class="card p-4 !mb-4">
    <div class="flex justify-between items-center w-full">
        {% if comment.author %}
        <a class="flex items-center justify-between mb-2 gap-1" href="{% url 'userprofile' comment.author.username %}">  
            <img class="w-8 h-8 object-cover rounded-full" src="{{comment.author.profile.avatar}}"> 
            <span class="font-bold hover:underline">{{ comment.author.profile.name }}</span>
        </a>
        {% else %}
        <div class="flex items-center justify-between mb-2 gap-1">  
            <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar_default.svg' %}"> 
            <span class="font-bold">No Author</span>
        </div>
        {% endif %}
    </div>
    {% if custom_data %}
    <a href="{% url "post" comment.parent_post.id %}" class="text-lg px-2 pt-1 mb-1">
        {{comment.body}}    
    </a>
    {% else %}
    <p class="text-lg px-2 pt-1 mb-1">
        {{comment.body}}
    </p>
    {% endif %}
    
    {% comment %} <div class="flex items-center  flex-wrap text-sm px-2">      {% endcomment %}
        <div class="flex items-center justify-end gap-4 [&>a:hover]:underline">
            {% include "snippets/likes_comment.html" %}
            {% if user.is_authenticated and comment.author == user%}
            <a href="{% url "comment-delete" comment.id %}">Delete</a>
            {% endif %}
        </div>



</comment>